################################################################################
#
#	C
#
################################################################################

# ignore object files
*.o
*.ko
*.obj
*.elf

# ignore precompiled headers
*.gch
*.pch
# Libraries
*.lib
*.a
*.la
*.lo

# ignore shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# ignore executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

################################################################################
#
#	Editor
#
################################################################################

# ignore editor swap files
*.swp

################################################################################
#
#	Media
#
################################################################################

# ignore picturec, graphics and figures
*.bmp
*.png
*.svg
*.jpg

# ignore sound
*.mp3

# ignore video
*.mp4

################################################################################
#
#	External code
#
################################################################################

# ignore all directories with external code (all of them are called 'ext/')
ext/
